@model IEnumerable<SuministrosProject.Models.Localizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="" style="text-align:center;">
    <h2>Localización de suministros</h2>
</div>
<br />

<button type="button" onclick="NewLocation()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">New</i></button>
<br />
<br />

<table class="table table-hover table-striped table-filter-title">
    <tr>
        <th>
            ID
        </th>
        <th>
            Lugar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLocalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idLocalizacion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idLocalizacion })
            </td>
        </tr>
    }

</table>


@* Modal para una salida correcta *@
<div id="idAlertPositiveLocation" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                    <h3 class="mb-4">Awesome!</h3>
                    <p id="BodyPositiveLocation"></p>
                    <div class="mt-6">
                        <button type="button" onclick="redireccionarLocation" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal error*@
<div id="idAlertNegativeLocation" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-danger"><span class="modal-main-icon s7-close-circle"></span></div>
                    <h3 class="mb-4">Danger!</h3>
                    <p id="BodyNegativeLocation"></p>
                    <div class="mt-6">
                        <button type="button" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/JavaS/LocalizacionFuctions.js"></script>
