@model IEnumerable<SuministrosProject.Models.Localizacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="" style="text-align:center;">
    <h2>Localización de suministros</h2>
</div>
<br />

<button type="button" onclick="NewLocation()" class="btn btn-secondary" style="font-size:22px; border:none; background-color:#f4f4f4;"><i class="s7-note">New</i></button>
<br />
<br />

<table class="table table-hover table-striped table-filter-title">
    <tr>
        <th>
            ID
        </th>
        <th>
            Lugar
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idLocalizacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idLocalizacion }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idLocalizacion })
            </td>
        </tr>
    }

</table>

<script src="~/Content/JavaS/LocalizacionFuctions.js"></script>
