@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/styles/suministros.css" rel="stylesheet" />


<script>
    if (sessionStorage.length == 0 || sessionStorage.getItem("connected") == "false") {
        window.location.href = '/Login/loginGet';
    }
</script>

<div>
    <br />
    <div class="Home">
            Administracion de suministros IT
        </div>
        <br />
        <br />
        <br />
        <br />
        <img id="imgLogoLear" src="~/Content/assets/img/Lear_Corporation_logo.svg.png" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

