@{
    ViewBag.Title = "Home Page";
}

    <div class="">
        <br />
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <br />
                <h1>Administracion de sumistros</h1>
            </div>
        </div>
        <br />
        <br />
        <img src="~/Content/assets/img/Lear_Corporation_logo.svg.png" />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

