@model SuministrosProject.Models.Categoria

@{
    Layout = null;
}

<div class="" style="text-align:center;">
    <h2>CREATE SUPPLY TYPE</h2>
</div>

<hr />
<br />
<br />
<form id="idCategoriaForm" asp-action="create">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="IdCategoria" />
        <div class="form-group col-sm-6">
            <label asp-for="CategoriaDescripcion" class="control-label">SUPPLY TIPE</label>
            <input id="des" asp-for="CategoriaDescripcion" class="form-control" />
            <span asp-validation-for="CategoriaDescripcion" class="text-danger"></span>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Observacion" class="control-label">DESCRIPTION TYPE</label>
            <input id="obs" asp-for="Observacion" class="form-control" />
            <span asp-validation-for="Observacion" class="text-danger"></span>
        </div>
    </div>
</form>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">CLOSE</button>
    <button type="button" onclick="GuardarCategoria()" class="btn btn-primary" data-dismiss="modal">SAVE</button>
</div>

<script src="~/Content/JavaS/categoriaFuntions.js"></script>
