@model IEnumerable<SuministrosProject.Models.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="" style="text-align:center;">
    <h2>SUPPLY TYPES LIST</h2>
</div>

<div class="main-content container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <button type="button" onclick="NewCategoria()" class="btn btn-secondary" style="font-size:22px; border:none;"><i class="s7-note">NEW</i></button>
                </div>

                <div class="panel-body">
                    <table id="table1" class="table table-hover table-filter-title table-striped">
                            <tr>
                                <th>TYPE</th>
                                <th>OBSERVATION</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoriaDescripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Observacion)
                                    </td>
                                    <td>
                                        @{ 
                                            int id = Convert.ToInt32(item.IdCategoria);
                                        }
                                        <a href="#" onclick="EditCat(@id)"> Edit</a>  |
                                        <a href="#" onclick="DeleteCat(@id)"> Delete</a>
                                    </td>
                                </tr>
                            }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Modal ok*@
<div id="idAlertPositive" tabindex="-1" role="dialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close"><span class="s7-close"></span></button>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <div class="text-primary"><span class="modal-main-icon s7-check"></span></div>
                    <h3 class="mb-4">Awesome!</h3>
                    <p id="BodyPositive"></p>
                    <div class="mt-6">
                        <button type="button" onclick="redireccionarIndex()" data-dismiss="modal" class="btn btn-sm btn-space btn-secondary">Acept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/assets/js/app-tables-datatables.js"></script>
