@{ Layout = "~/Views/Shared/_Layout - Login.cshtml"; }﻿

    <div class="mai-wrapper mai-login">
        <div class="main-content container">
            <div class="splash-container row">

                <div style="padding:150px 30px 40px" class="col-md-6 user-message">
                    <span class="splash-message text-right">Hello!<br> is good to<br> see you again</span><span class="alternative-message text-right">Don't have an account? <a href="pages-sign-up.html">Sign Up</a></span>
                </div>


                <div class="col-md-6 form-message">
                    <img src="~/Content/assets/img/lear_inverse.png" alt="logo" width="130" height="35" class="logo-img mb-3"><span class="splash-description text-center mt-5 mb-5">Login to your account</span>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><i class="icon s7-user"></i></div>
                            <input id="idUser" type="text" placeholder="Username" autocomplete="off" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend"><i class="icon s7-lock"></i></div>
                            <input id="pass" type="password" placeholder="Password" class="form-control">
                            <br />
                        </div>
                    </div>
                    <br />
                    
                    <span id="error"></span>
                    <div class="form-group login-submit">
                        <button onclick="validateLogin()" data-dismiss="modal" class="btn btn-lg btn-primary btn-block">Login</button>
                    </div>
                    <div class="form-group row login-tools">
                        <div class="col-sm-6 login-remember">
                            <label class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input"><span class="custom-control-label">Remember me</span>
                            </label>
                        </div>
                        <div class="col-sm-6 pt-2 text-sm-right login-forgot-password"><a href="pages-forgot-password.html">Forgot Password?</a></div>
                    </div>
                    <div class="out-links"><a href="#">© 2021 Lear Corporation</a></div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/JavaS/Login.js"></script>

    


