#idDescriptionNP, #ModelNP, #BrandNP, #TypeNP, #ObservationNP {
    text-transform: uppercase;
}

#DescriptionLabel, #ModelLabel, #BrandLabel, #TypeLabel, #ObservationLabel {
    font-weight:bold;
}

#IdNumeroParte{
    height:47.5px;
}

