#idLocalizacionSum{
    height:49px;
    width:250px;
}

#IdNumeroParte {
    height: 49px;
    width: 250px;
}

#serie{
    text-transform:uppercase;
}

#labelSerie{
    text-transform:uppercase;
}

/*Home de la aplicacion. Hciendo responsive el texto y la imagen*/
#imgLogoLear {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 85%;
}

div.Home{
    text-align:center;
}

@media screen and (min-width: 601px) {
    div.Home {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    div.Home {
        font-size: 20px;
    }
}

@media screen and (max-width: 400px) {
    div.Home {
        font-size: 15px;
    }
}
