@model IEnumerable<SuministrosProject.Models.Salida>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    if (sessionStorage.length == 0 || sessionStorage.getItem("connected") == "false") {
        window.location.href = '/Login/loginGet';
    }
</script>


<br />
<div class="" style="text-align:center;">
    <h2>SUPPLY OUTPUT REGISTER</h2>
</div>
<br />
<br />

<table id="idTablaSalida" class="table table-striped table-hover table-filter-title">
    <thead>
        <tr>
            <th>
                equipment
            </th>
            <th>
                Supply series
            </th>
            <th>
                output date
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEquipoNaviation.equipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdSuministroNavigation.Serie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaSalida)
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/Content/JavaS/OrdenarTabla.js"></script>
